.titleLevel {
    color: #C7D72E;
    font-size: 18px;
    font-family: 'firaSans';
}

.textLevel {
    color: #00F900;
    font-size: 24px;
    float: right;
    font-family: 'led';
  }

.textLevelZero {
    color: red;
    font-size: 24px;
    float: right;
    font-family: 'led';
}

.textLevelEchargedPk {
    color: blue;
    font-size: 24px;
    font-family: 'led';
    float: right;
  }

  .text-success {
      color: #C7D72E !important;
  }

  .bg-icon {
   background-color : #C6DA2D
  }